
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.content {
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background-color: lightblue;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left:-250px
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#recipe-list .recipe-button.active{
  background-color: #f0f1ff;
  color: #555;
}

#recipe-list .recipe-button:hover{
  background-color: whitesmoke;
}

.dot {
  height: 10px;
  width:10px;
  min-width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group{
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item{
  padding-left: 30px;
  font-size: 12px;
  color: gray;
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.btn-group button {
  border: none;
  padding: 5px  5px;
  float: left;
  overflow: auto;
  color: white;
}

.btn-group{
  overflow: auto;
  display: block;
}

.word-button {
  margin: 0;
  font-size: 20px;
}

.btn-ingredient {
  background-color: coral;
  color: white;
  font-style: normal;
  cursor: pointer;
}

.btn-ingredient:first-child{
  border-radius: 10px 0px 0px 10px;
}

.btn-ingredient:last-child{
  border-radius: 0px 10px 10px 0px;
}

.btn-ingredient:only-child{
  border-radius: 10px;
}

.ingredient-group {

}


.btn-amount {
  background-color: darkorchid;
  color: white;
  font-style: normal;
  cursor: pointer;
}

.btn-measurement {
  background-color: darkseagreen;
  color: white;
}

.btn-base {
  font-style: normal;
  cursor: pointer;
  border: none;
  padding: 5px;
  margin: 0px;
  background-color: inherit;
}

.recipe-div {
  display: inline;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.recipe-name {
  font-style: italic;
  min-width: 10%;
}

.edit-button {
  float: right;
  display: inline;
  overflow: visible;
  border: 1px solid red;
}

.remove-button {
  float: right;
  display: inline;
  position: relative;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  right: 30px;
  bottom: 5px;
  color: indianred;
  font-weight: bold;
  outline: none;
  z-index: 1;
}

.recipe-list{
  height: 40px;
}

.drag-button {
  border: none;
  color: darkgray;
  outline: none;
  background-color: transparent;
  position: relative;
  right: 10px;
  bottom: 12px;
  font-size: x-large;
  z-index: 1;
}

.drag-button:hover {
  cursor: move;
}

.ingredient-name {
  position: relative;
  bottom: 15px;
  right: 5px;
}

.recipe-info{
  display: inline;
  position: relative;
  left: 25px;
}

.button-panel {
  display: inline;
  position: absolute;
  right: 50px;
}

.name-input {
  font-size: 24px;
  width: 80%;
}

.recipe-line {
  position: relative;
  top: -30px;
  left: 40px;
  vertical-align: top;
}

.recipe-checkbox{
  background-color: aliceblue;
  border: 3px solid #ddd;
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
}

.recipe-label input {
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
  cursor: pointer;
}

.recipe-label {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 0px;
}

.full-line:not(:first-child){
  margin-top:-30px;
}

.recipe-checkbox:hover {
  background-color: gray;
}

.recipe-label input:checked ~ .recipe-checkbox {
  background-color: lightgray;
}

.strikethrough{
  text-decoration: line-through;
}

#rename-list-button {
  position: relative;
  display: inline;
  top: -8px;
  left: 5px;
}

#complist-name{
  display: inline;
}

.source-button {
  float: right;
  background-color: darkgray;
  color: white;
  padding: 3px;
  position: relative;
  bottom: 2px;
  left: 10px;
  margin: 0px;
}

.source-button:hover{
  text-decoration: none;
  background-color: gray;
  color: white;
}

.source-button:focus{
  text-decoration: none;
  color: white;
}

.centered-form {
  max-width: 500px;
  margin: auto;
}

.navbar-username {
  float: right;
  margin-right: 15px;
}

.navbar-logout {
  font-size: 12px;
  margin-top: 16px;
}

.invalid-feedback {
  color: red;
  font-style: italic;
}

#list-tool-panel{
  padding-bottom: 10px;
}

.recipe-card{
  min-height: 10rem;
}

.recipe-card:hover{
  background-color: whitesmoke;
}

.recipe-card .card-title{
  color: black;
}

.recipe-card .card-title:hover{
  color: dimgrey;
  text-decoration: none;
}

.edit-label {
  resize: none;
  overflow: auto;
  background-color: transparent;
  border: none;
  padding: .25rem;
  font-size: 25px;
  cursor: pointer;
}

.edit-label:focus{
  background-color: white;
  cursor: text;
}

.recipe-list-item{
  list-style-type: none;
  background:cornsilk;
  border-radius:5px;
}

.recipe-card-body{
  background-color: ghostwhite;
}
