{% extends 'layout.html' %}
{% block content %}
<div class="alert alert-info mt-3">
    <p class="text-muted font-italic mt-4">Here's our best guess for the ingredients in the lines. Click a word to toggle if it is an ingredient or not. </p>
</div>
<div class="card my-3 shadow">
    <div class="card-header p-2 shadow-sm">
        <div class="edit-label w-100 text-center" id="recipe-title" contenteditable spellcheck="false">{{ rlist.name }}</div>
    </div>

    <div class="card-body p-1 recipe-card-body">
        <div id="ingredient-selector" class="p-2 mx-1 bg-info rounded align-middle row">
            <span class="color-instructions col-auto text-light">Ingredient selector: </span>
            <label class="color-label mr-1 form-check-inline col-auto">
                <input type="radio" name="color" value="ing-1" checked>
                <span class="color-radio shadow-sm" style="background: coral"></span>
            </label>
            <label class="color-label mr-1 form-check-inline col-auto">
                <input type="radio" name="color" value="ing-2">
                <span class="color-radio shadow-sm" style="background: darkorchid"></span>
            </label>
            <label class="color-label mr-1 form-check-inline col-auto">
                <input type="radio" name="color" value="ing-3">
                <span class="color-radio shadow-sm" style="background: forestgreen"></span>
            </label>
        </div>

        <ul class="p-2">
        {% for line in rlist_lines %}
            <li class="p-2 m-2 shadow-sm recipe-list-item">
                <div class="raw-line" id="{{ line.hex_id }}">
                    <span></span> <!-- fake beginning object to make changing button groups easier -->
                    {% for token, color in line.text_to_colors %}<button class="{{ color }} word-button float-none" >{{ token }}</button>{% endfor %}
                    <span></span> <!-- fake ending object to make changing button groups easier -->
                </div>
            </li>
        {% endfor %}
        </ul>
        <div class="row justify-content-center">
            <div class="col-md-4 col-lg-2 mb-2">
                <button type="submit" id="submit-list" formmethod="post" class="mt-4 btn btn-success btn-block btn-lg">Submit</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{{url_for('static', filename='clean-list.js')}}"></script>
<script type="text/javascript">
    $RECIPE_HEX = "{{rlist.hex_name}}"
</script>
{% endblock scripts %}