<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap Links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    {% block styles %}
    {% endblock %}

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Grocery App</title>
    {% endif %}

</head>
<body>
<nav class="navbar navbar-light navbar-expand-sm" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="{{ url_for('main.home') }}">Home</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                {% if not current_user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('account.register') }}">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('account.login') }}">Login</a></li>
                {% endif %}
                {% if grocery_lists %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">My Lists<span class="caret"></span></a>
                        <div class="dropdown-menu">
                            {% for list in grocery_lists %}
                                <a class="nav-link dropdown-item" id="link-{{list.hex_name}}" href="{{url_for('checklist.compiled_list', hex_name=list.hex_name)}}">{{ list.name }} ({{ list.hex_name }})</a>
                            {% endfor %}
                        </div>
                    </li>
                {% endif %}
                {% if current_user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('account.logout') }}">Logout</a></li>
                {% endif %}
            </ul>

        </div>
</nav>
<div class="container" role="main">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} mt-2">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script>window.jQuery || document.write('script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% block scripts %}{% endblock %}
</body>
</html>
