{% extends 'layout.html' %}

{% block content %}
<div class="card mt-4 mx-auto" style="max-width: 500px;">
    <div class="card-body bg-light">
        <h4> Log in to your account:</h4>
        <hr/>
        <form method="POST" action="">
            {{ login_form.hidden_tag() }}
            <div class="form-group">
                {{ login_form.username.label(class='form-control-label') }}
                {% if login_form.username.errors %}
                {{ login_form.username(class='form-control is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in login_form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ login_form.username(class='form-control') }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ login_form.password.label(class='form-control-label') }}
                {% if login_form.password.errors %}
                    {{ login_form.password(class='form-control is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in login_form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ login_form.password(class='form-control') }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ login_form.submit(class='btn btn-primary') }}
            </div>
        </form>
        <small class="font-italic"><a href="{{ url_for('account.reset_request') }}">I forgot my username or password.</a></small>
    </div>
</div>
{% endblock content %}